
<div class="card-container">

    <mat-card>
      <div class="nested">
          <div class="container">
            <a href="https://www.xing.com/"><figure><img src="https://cdn.worldvectorlogo.com/logos/xing-icon.svg" class="test" id="xingImg"></figure></a>
          </div>
          <div class="container">
            <a href="https://www.linkedin.com/login/de"><figure><img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg" class="test" id="linkedinImg"></figure></a>
          </div>
          <div class="container">
            <a href="http://www.google.com"><figure><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRX83H5hgR4ql9APOs8Yg5dGTMBxQtm4vWiXg&usqp=CAU" class="test" id="gitImg"></figure></a>
          </div>

      </div>
    </mat-card>

</div>

